.buttons {
  display: block;
}

button{
  width: 50px;
  font-size: 16px;
  margin: 5px;
  height: 40px;
  border-radius: 5px;
}

.div1 {
  border: 1px solid black;
  margin: 10px auto;
  width: 305px;
  height: 181px;
  background-color: lightblue;
  border-radius: 6px;
}

.UserInput {
  margin: 10px;
  height: 80px;
  border: 1px grey solid;
  background-color: white;
}

.CalculatorOutput {
  height: 66px;
  margin: 10px;
  background-color: white;
  border: 1px solid grey;
}

.out {
  border: 1px solid black;
  width: 332px;
  padding: 15px;
  margin: 10px auto;
}

.div2 {
  display: flex;
}

.div3 {
  margin: auto;
}